{
  "$schema": "https://opencode.ai/config.json",
  "mcp": {
    "roslyn-mcp-server": {
      "type": "local",
      "command": [
        "..../RoslynMcpServer.exe"
      ],
      "environment": {
        "MCP_LOG_INCOMING_RPC": "1",
        "MCP_LOG_INCOMING_RPC_MAX_CHARS": "0"
      }
    }
  }
}